body { 
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-weight: normal;
    color: #a3a3a3;
}

.remark-code, .remark-inline-code { 
    font-family: 'Monospace'; 
} 

.remark-slide-content {
    padding: 1em 3em;
}

.remark-slide-content:not(.center) {
    background-image: url("images/logo-pg.jpg");
    background-size: 70px;
    background-position: 0% 0%;
}

.bold {
    font-weight: bold;
}

.footnote {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
}

.remark-slide-content h1 {
    position: absolute;
    left: 70px;
    top: 0;
    width: 100%;
    background-color: #f0634c;
    color: white;
    font-size: 36pt;
    margin: 0;
    padding: 0.2em;
}

.remark-slide-content h2 {
    font-size: 48pt;
    margin-top: 1.6em;
}

.remark-slide-content ol {
    font-size: 40pt;
    line-height: 1.4em;
    list-style-type: none;
    padding: 0;
}

a {
    color: #f0634c;
    text-decoration: none;
    border-bottom: 0.05em solid #f0634c;
}

li:before {
/*    content: "> "; */
}

img {
    width: 7em;
    height: 7em;
    display: flex;
    padding: 1.2em;
    margin: auto;
}

.logos {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

#slide-title h1, .question h1, .question h2 {
    color: black;
    background: white;
    position: relative;
    left: 0;
    padding: 0;
}

#slide-title h1, .question h1 {
    font-size: 48pt;
}

#slide-title h1 {
    color: #f0634c;
}

.last h2 {
    color: black;
}

.footnote img {
    height: 42px;
    padding: 0;
    margin: auto;
}
